/* BACKGROUND PAGES */

body {
  background-image: linear-gradient(90deg, #33b7e2, #5e62b0, #dc307c);
}

/* FOOTER */

.footer {
  position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: hsl(333, 71%, 53%, 0.3);
    padding: 10px;
    text-align: left;
}

.footer-dark {
  color: aliceblue;
}

.tab {
  margin-left: auto;
  margin-right: auto;
  white-space: nowrap;
  text-align: center;
}

.tab th {
  padding: 0 45px;
}

/* FORM */

.form-p {
  width: 600px;
  display: flex;
  flex-direction: column;
}

.inpt {
  width: 350px;
  background-color: transparent;
  border-radius: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 25px;
  padding-right: 25px;
  border: 1px solid rgb(222, 229, 236);
}

.sbtn {
  border: none;
  width: 150px;
  background-color: transparent;
}

.sbtn-primary {
  background-color: #E83283;
  border-radius: 6px;
  padding-left: 10px;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border: rgb(255, 255, 255);
}

.sbtn-primary:hover {
  background-color: hsl(333, 80%, 55%, 0.7);
  border-radius: 6px;
  padding-left: 10px;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border: rgb(54, 56, 58);
}

.cbox {
  display: flex;
  align-items: center;
}

input {
  color: rgb(222, 229, 236);
}

input:focus {
  outline: none;
  color: rgb(222, 229, 236);
}

input::placeholder {
  color: rgb(222, 229, 236, 0.4);
}

/* CARD */

.scard {
  border: 1px solid rgb(222, 229, 236, 1);
  border-radius: 6px;
  padding: 10px 10px 20px 20px;
}

.body-card {
  display: flex;
  flex-direction: row;
}

.cards-img {
  width: 100px;
  height: 80px;
  border: 1px solid #424142;
}

.user-card {
  width: 650px;
  height: 130px;
  border: 1px solid rgb(222, 229, 236, 1);
  border-radius: 8px;
  padding: 5px;
  background-color: transparent;
  color: aliceblue;
  margin-bottom: 20px;
}

.ccard {
  width: 250px;
  border-radius: 8px;
  background-color: aliceblue;
}

.card-city-img {
  width: 250px;
  height: 180px;
}

/* TEXT */

.text {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-decoration: none;
  color: rgb(222, 229, 236);
}

.link {
  text-decoration: none;
  color: rgb(222, 229, 236);
}
.link:hover {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.link-secondary {
  text-decoration: none;
  color: rgb(245, 11, 186);
}

.link-secondary:hover {
  text-decoration: none;
  color: rgb(206, 11, 245);
}

.smaller {
  font-size: 14px;
}

.subtext {
  opacity: 0.5;
}

.subtext:hover {
  opacity: 0.8;
}

.over-text {
  font-weight: bold;
  user-select: none;
}

.over-ctr {
  text-shadow: -1px -1px 0 #4f1153, 1px -1px 0 #4f1153, -1px 1px 0 #4f1153, 1px 1px 0 #4f1153;
  user-select: none;
}

.mrl {
  margin-left: 10px;
}

/* BANNER */

.img {
  width: 100%;
  height: auto;
  margin-top: -60px;
  border-bottom: 2px solid rgb(222, 229, 236, 1);
  transition: 0.2s;
  user-select: none;
}


/* ENDLINE */

.end {
  margin-top: 40px;
}

.endtext {
  margin-left: 20px;
}

.endline {
  margin-top: -0px;
  width: 100%;
  margin-bottom: 20px;
  color: aliceblue;
  border-bottom: 3px solid aliceblue;
}

/* POSES */

.push-bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh
}

.ch {
  margin-left: auto;
  margin-right: auto;
}

.column {
  display: flex;
  flex-direction: column;
}

.mt1 {
  margin-top: 5px;
}

.mt2 {
  margin-top: 10px;
}

.mt3 {
  margin-top: 20px;
}

.scontainer {
  position: relative;
  display: block;
}

.text-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80%;
  transform: translate(-50%, -50%);
  text-align: center;
  background-color: none;
}

.text-overlay span {
  display: block;
}

.lg {
  width: 100%;
  height: auto;
}

/* COLORS */

.sbg-primary {
  background-color: #dc327f;
  border-bottom: 1px solid rgb(222, 229, 236, 1);
}

.primary {
  color: #E83283;
}
